@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 8%);
    height: 100%;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter", sans-serif;
    background-color: hsl(0, 0%, 12%);
    border-radius: 20px;
    margin: 80px 0;
}

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#profile-avatar {
    margin: 30px 0 20px 0;
    height: 80px;
    border-radius: 100%;
}

h1 {
    color: white;
    margin-bottom: 8px;
    font-size: 20px;
    font-weight: 600;
}

h2 {
    color: hsl(75, 94%, 57%);
    margin-bottom: 10px;
    font-size: 12px;
}

p {
    font-size: 12px;
}

#description {
    color: hsl(0, 0%, 80%);
    margin: 10px 0 10px 20px ;
}

#social {
    margin-bottom: 20px;
}

.social a {
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background-color: hsl(0, 0%, 20%);
    border-radius: 10px;
    text-decoration: none;
    margin: 15px 30px;
    height: 40px;
    width: 250px;
}

.social:hover {
}

.social a:hover {
    background-color: hsl(75, 94%, 57%);
    color: hsl(0, 0%, 20%);
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    padding: 10px;
    font-size: 12px;
    width: 100%;
    color: hsl(0, 0%, 70%);
}

footer a {
    color: hsl(0, 0%, 70%);
}